<a href="https://colab.research.google.com/github/zenpp/Practice-R/blob/master/Introduction%20to%20R/Data_manipulation_with_dplyr_package.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#import library
library(dplyr)

Attaching package: ‘dplyr’

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [0]:
data <- mtcars
head(data)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

In [0]:
#select function use for select specific column 
head(select(data,mpg,cyl,hp,vs)) #first argument is data set and follow with desired columns

                  mpg  cyl hp  vs
Mazda RX4         21.0 6   110 0
Mazda RX4 Wag     21.0 6   110 0
Datsun 710        22.8 4    93 1
Hornet 4 Drive    21.4 6   110 1
Hornet Sportabout 18.7 8   175 0
Valiant           18.1 6   105 1

In [0]:
head(select(data,1:5)) #select column 1,2,3,4,5

                  mpg  cyl disp hp  drat
Mazda RX4         21.0 6   160  110 3.90
Mazda RX4 Wag     21.0 6   160  110 3.90
Datsun 710        22.8 4   108   93 3.85
Hornet 4 Drive    21.4 6   258  110 3.08
Hornet Sportabout 18.7 8   360  175 3.15
Valiant           18.1 6   225  105 2.76

In [0]:
#filter use for filter column on specific condition
head(filter(data, hp > 100 | am == 0))

  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
1 21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
2 21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
3 21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
4 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
5 18.1 6   225  105 2.76 3.460 20.22 1  0  3    1
6 14.3 8   360  245 3.21 3.570 15.84 0  0  3    4

In [0]:
#arrange use for sort numerical value in selected column
print(head(arrange(data,hp)))
#or order by descending
print(head(arrange(data,desc(hp))))

   mpg cyl  disp hp drat    wt  qsec vs am gear carb
1 30.4   4  75.7 52 4.93 1.615 18.52  1  1    4    2
2 24.4   4 146.7 62 3.69 3.190 20.00  1  0    4    2
3 33.9   4  71.1 65 4.22 1.835 19.90  1  1    4    1
4 32.4   4  78.7 66 4.08 2.200 19.47  1  1    4    1
5 27.3   4  79.0 66 4.08 1.935 18.90  1  1    4    1
6 26.0   4 120.3 91 4.43 2.140 16.70  0  1    5    2
   mpg cyl disp  hp drat    wt  qsec vs am gear carb
1 15.0   8  301 335 3.54 3.570 14.60  0  1    5    8
2 15.8   8  351 264 4.22 3.170 14.50  0  1    5    4
3 14.3   8  360 245 3.21 3.570 15.84  0  0    3    4
4 13.3   8  350 245 3.73 3.840 15.41  0  0    3    4
5 14.7   8  440 230 3.23 5.345 17.42  0  0    3    4
6 10.4   8  460 215 3.00 5.424 17.82  0  0    3    4

In [0]:
#mutate use for create a new column
new_data <- mutate(data,hp_double = hp*2)
head(select(new_data,hp,hp_double))

  hp  hp_double
1 110 220
2 110 220
3  93 186
4 110 220
5 175 350
6 105 210

In [0]:
#summarise function use for data summary in form of data frame
summarise(data,avg_hp = mean(hp),sd_hp = sd(hp),n = n())

  avg_hp   sd_hp    n
1 146.6875 68.56287 32

In [0]:
#summarise function can also use with group by (can be multiple variable in group_by())
#these operation can be perform with this notation '%>%' too
data %>% group_by(am,cyl) %>% summarise(avg_hp = mean(hp), sd_hp = sd(hp))

  am cyl avg_hp    sd_hp
1 0  4    84.66667 19.65536
2 0  6   115.25000  9.17878
3 0  8   194.16667 33.35984
4 1  4    81.87500 22.65542
5 1  6   131.66667 37.52777
6 1  8   299.50000 50.20458

In [0]:
#example of full operations
data %>% select(mpg, hp, wt, am) %>% filter(am == 0) %>% mutate(hp_double = hp * 2) %>% summarise(avg_hp_double = mean(hp_double)) %>% arrange(desc(avg_hp_double))

  avg_hp_double
1 320.5263