<a href="https://colab.research.google.com/github/zenpp/Practice-R/blob/master/Introduction%20to%20R/R_basic_command.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
print(1)

1

In [0]:
1*8

[1] 8

In [0]:
2**5

[1] 32

In [0]:
sqrt(81)

[1] 9

In [0]:
c <- 1:10
print(c)

 [1]  1  2  3  4  5  6  7  8  9 10

In [0]:
c <- 5
if(c %% 5 == 0){
    print('a')
}else{
    print('b')
}

[1] "a"

In [0]:
add <- function(x,y){
   x*y
}
add(8,9)

[1] 72

In [0]:
arr <- c(1,2,3,4,5)
for (val in arr){
    arr[val] <- val*2
}
print(arr)

[1]  2  4  6  8 10

In [0]:
test <- sample(100,100)
print(test)

  [1]  77  35  99  60   5   3  63  95  72  62  14  46  47  50  73  74  45  23
 [19]  42  29  76  84  67  38  18  40   6  41 100  26  43  65  55  66  27   2
 [37]  93  11  92  44  39  51  15  78  19  97  64  91  25  69  71  59  12   9
 [55]  86  34  49  57  96  31  53  56   8  37  48  88  89  28  61  83  24  52
 [73]  54   4  58  36  33  94  70  16  82  68  22  10  17  75  98  85  21  32
 [91]  30  81  87  79   1  90   7  20  13  80

In [0]:
summary(test)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
   1.00   25.75   50.50   50.50   75.25  100.00

In [0]:
x <- c(100,200,300,400,500)
x >= 300

[1] FALSE FALSE  TRUE  TRUE  TRUE

In [0]:
print(sum(x))
print(sum(x >= 300))

[1] 1500
[1] 3

In [0]:
print(mean(x))
print(mean(x >= 300))

[1] 300
[1] 0.6

In [0]:
median(x >= 300)

[1] TRUE

In [0]:
#vector declaration
z <- seq(1, 100, by = 0.5)
z

  [1]   1.0   1.5   2.0   2.5   3.0   3.5   4.0   4.5   5.0   5.5   6.0   6.5
 [13]   7.0   7.5   8.0   8.5   9.0   9.5  10.0  10.5  11.0  11.5  12.0  12.5
 [25]  13.0  13.5  14.0  14.5  15.0  15.5  16.0  16.5  17.0  17.5  18.0  18.5
 [37]  19.0  19.5  20.0  20.5  21.0  21.5  22.0  22.5  23.0  23.5  24.0  24.5
 [49]  25.0  25.5  26.0  26.5  27.0  27.5  28.0  28.5  29.0  29.5  30.0  30.5
 [61]  31.0  31.5  32.0  32.5  33.0  33.5  34.0  34.5  35.0  35.5  36.0  36.5
 [73]  37.0  37.5  38.0  38.5  39.0  39.5  40.0  40.5  41.0  41.5  42.0  42.5
 [85]  43.0  43.5  44.0  44.5  45.0  45.5  46.0  46.5  47.0  47.5  48.0  48.5
 [97]  49.0  49.5  50.0  50.5  51.0  51.5  52.0  52.5  53.0  53.5  54.0  54.5
[109]  55.0  55.5  56.0  56.5  57.0  57.5  58.0  58.5  59.0  59.5  60.0  60.5
[121]  61.0  61.5  62.0  62.5  63.0  63.5  64.0  64.5  65.0  65.5  66.0  66.5
[133]  67.0  67.5  68.0  68.5  69.0  69.5  70.0  70.5  71.0  71.5  72.0  72.5
[145]  73.0  73.5  74.0  74.5  75.0  75.5  76.0  76.5  77.0  77.5  78.0  78.5
[157]  79.0  79.5  80.0  80.5  81.0  81.5  82.0  82.5  83.0  83.5  84.0  84.5
[169]  85.0  85.5  86.0  86.5  87.0  87.5  88.0  88.5  89.0  89.5  90.0  90.5
[181]  91.0  91.5  92.0  92.5  93.0  93.5  94.0  94.5  95.0  95.5  96.0  96.5
[193]  97.0  97.5  98.0  98.5  99.0  99.5 100.0

In [0]:
k <- rep(c(1,2,3), time = 10)
k

 [1] 1 2 3 1 2 3 1 2 3 1 2 3 1 2 3 1 2 3 1 2 3 1 2 3 1 2 3 1 2 3

In [0]:
#Matrix declaration
x <- 1:25
dim(x) <- c(5,5)

In [0]:
x <- matrix(1:24, ncol = 4 , nrow = 6)
x

     [,1] [,2] [,3] [,4]
[1,] 1     7   13   19
[2,] 2     8   14   20
[3,] 3     9   15   21
[4,] 4    10   16   22
[5,] 5    11   17   23
[6,] 6    12   18   24

In [0]:
#Dataframe declaration
## the most important data structure for data analysis
id <- 1:5
friends <- c("Toy", "Top", "Bee", "Ink", "Wan")
age <- c(31, 26, 31, 26, 25)
handsome <- c(F, T, T, T, T)
## create dataframe
df <- data.frame(id, friends, age, handsome)
df

  id friends age handsome
1 1  Toy     31  FALSE
2 2  Top     26   TRUE
3 3  Bee     31   TRUE
4 4  Ink     26   TRUE
5 5  Wan     25   TRUE